body{
  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat,no-repeat;
  background-position: -19% 53%,133% -50%;
  background-color: hsl(185, 75%, 39%);
}
